**MAESTRÍA EN INTELIGENCIA ARTIFICIAL APLICADA**

**Curso: TC4029 - Ciencia y analítica de datos**

Tecnológico de Monterrey

Prof Grettel Barceló Alonso

**Semana 3**
Bases, almacenes y manipulación de datos

---

*   NOMBRE: Fernando Abel Leal Villacicencio
*   MATRÍCULA: A01796859

---

En esta actividad usarás la base de datos relacional `classicmodels` (MySQL), compuesta por las siguientes tablas:

*   `Customers`: almacena los datos de los clientes.
*   `Products`: almacena una lista de modelos de coches a escala.
*   `ProductLines`: almacena una lista de categorías de líneas de productos.
*   `Orders`: almacena los pedidos de venta realizados por los clientes.
*   `OrderDetails`: almacena elementos de línea de pedidos de ventas para cada pedido de ventas.
*   `Payments`: almacena los pagos realizados por los clientes en función de sus cuentas.
*   `Employees`: almacena toda la información de los empleados, así como la estructura de la organización, como quién informa a quién.
*   `Offices`: almacena los datos de la oficina de ventas.

Revisa con detalle su esquema para que comprendas cómo se relacionan las tablas anteriores.

Recuerda que:


*   Una **clave primaria** es un atributo (o conjunto) que identifica unívocamente a cada registro en la tabla.
*   Una **clave foránea** (externa o ajena) es un atributos (o conjunto) en una tabla que es una clave primaria en otra (o posiblemente la misma) tabla.
*   Las **relaciones** son las líneas que conectan una tabla con otra y el extremo determina la cardinalidad. Las relaciones con línea continua (identificadora) representan una transformación donde la clave primaria de una tabla pasa a ser foránea y primaria (al mismo tiempo) de otra. Las relaciones con línea discontinua (no identificadora) representan una transformación donde la clave primaria de una tabla pasa a ser sólo foránea en otra.

# **Parte 1**. SQLAlchemy y SQL básico

In [63]:
#pip install pymysql

In [64]:
import sqlalchemy as sqla
import pymysql
import pandas as pd

1.	Crea el motor `sqlalchemy`, con el método `create_engine()` y una conexión con `connect()` como se muestra a continuación:

In [ ]:
# Crear el motor (dialecto://usuarioBD:clave@ipHostDBMS:puerto/esquema
db = sqla.create_engine('mysql+pymysql://mnaTC4029User:mnaTC4029Pass!@20.106.217.214:3306/classicmodels', pool_recycle=3600)

# Crea una conexión para luego invocar declaraciones SQL
conn = db.connect()

Escribe las consultas en SQL para obtener:

2.	La información de las líneas de productos.

In [66]:
pd.read_sql("SELECT * FROM productlines", db)

,productLine,textDescription,htmlDescription,image
0,Classic Cars,Attention car enthusiasts: Make your wildest c...,None,None
1,Motorcycles,Our motorcycles are state of the art replicas ...,None,None
2,Planes,"Unique, diecast airplane and helicopter replic...",None,None
3,Ships,The perfect holiday or anniversary gift for ex...,None,None
4,Trains,Model trains are a rewarding hobby for enthusi...,None,None
5,Trucks and Buses,The Truck and Bus models are realistic replica...,None,None
6,Vintage Cars,Our Vintage Car models realistically portray a...,None,None

3.	La información de los empleados ordenados por nombre (`firstName`).

In [67]:
pd.read_sql("SELECT * FROM employees ORDER BY firstName", db)

,employeeNumber,lastName,firstName,extension,email,officeCode,reportsTo,jobTitle
0,1611,Fixter,Andy,x101,afixter@classicmodelcars.com,6,1088.0,Sales Rep
1,1143,Bow,Anthony,x5428,abow@classicmodelcars.com,1,1056.0,Sales Manager (NA)
2,1504,Jones,Barry,x102,bjones@classicmodelcars.com,7,1102.0,Sales Rep
3,1002,Murphy,Diane,x5800,dmurphy@classicmodelcars.com,1,NaN,President
4,1286,Tseng,Foon Yue,x2248,ftseng@classicmodelcars.com,3,1143.0,Sales Rep
5,1323,Vanauf,George,x4102,gvanauf@classicmodelcars.com,3,1143.0,Sales Rep
6,1102,Bondur,Gerard,x5408,gbondur@classicmodelcars.com,4,1056.0,Sale Manager (EMEA)
7,1370,Hernandez,Gerard,x2028,ghernande@classicmodelcars.com,4,1102.0,Sales Rep
8,1076,Firrelli,Jeff,x9273,jfirrelli@classicmodelcars.com,1,1002.0,VP Marketing
9,1188,Firrelli,Julie,x2173,jfirrelli@classicmodelcars.com,2,1143.0,Sales Rep
10,1501,Bott,Larry,x2311,lbott@classicmodelcars.com,7,1102.0,Sales Rep
11,1165,Jennings,Leslie,x3291,ljennings@classicmodelcars.com,1,1143.0,Sales Rep
12,1166,Thompson,Leslie,x4065,lthompson@classicmodelcars.com,1,1143.0,Sales Rep
13,1337,Bondur,Loui,x6493,lbondur@classicmodelcars.com,4,1102.0,Sales Rep
14,1621,Nishi,Mami,x101,mnishi@classicmodelcars.com,5,1056.0,Sales Rep
15,1702,Gerard,Martin,x2312,mgerard@classicmodelcars.com,4,1102.0,Sales Rep
16,1056,Patterson,Mary,x4611,mpatterso@classicmodelcars.com,1,1002.0,VP Sales
17,1401,Castillo,Pamela,x2759,pcastillo@classicmodelcars.com,4,1102.0,Sales Rep
18,1612,Marsh,Peter,x102,pmarsh@classicmodelcars.com,6,1088.0,Sales Rep
19,1216,Patterson,Steve,x4334,spatterson@classicmodelcars.com,2,1143.0,Sales Rep
20,1619,King,Tom,x103,tking@classicmodelcars.com,6,1088.0,Sales Rep
21,1088,Patterson,William,x4871,wpatterson@classicmodelcars.com,6,1056.0,Sales Manager (APAC)
22,1625,Kato,Yoshimi,x102,ykato@classicmodelcars.com,5,1621.0,Sales Rep

4.	Los países donde hay oficinas (sin duplicar).

In [68]:
pd.read_sql("SELECT country FROM offices GROUP BY country", db)

     country
0  Australia
1     France
2      Japan
3         UK
4        USA

5.	El nombre y teléfono de los clientes de la ciudad de Nueva York (*NYC*).

In [69]:
pd.read_sql("SELECT customerName, phone FROM customers WHERE city = 'NYC'", db)

           customerName       phone
0     Land of Toys Inc.  2125557818
1    Muscle Machine Inc  2125557413
2       Vitachrome Inc.  2125551500
3  Classic Legends Inc.  2125558493
4       Microscale Inc.  2125551957

6.	El código y nombre de los productos del vendedor *Gearbox Collectibles* que tengan menos de 1000 unidades en stock.

In [70]:
pd.read_sql("SELECT productCode, productName, quantityInStock FROM products WHERE productVendor = 'Gearbox Collectibles' AND quantityInStock < 1000 ",db)

  productCode             productName  quantityInStock
0    S18_2581          P-51-D Mustang              992
1    S18_2795  1928 Mercedes-Benz SSK              548

7.	Los tres productos más caros, desde el punto de visto de los comercializadores (`buyPrice`).

In [71]:
pd.read_sql("SELECT *  FROM products ORDER BY buyPrice DESC LIMIT 3", db)

,productCode,productName,productLine,productScale,productVendor,productDescription,quantityInStock,buyPrice,MSRP
0,S10_4962,1962 LanciaA Delta 16V,Classic Cars,1:10,Second Gear Diecast,Features include: Turnable front wheels; steer...,6791,103.42,147.74
1,S18_2238,1998 Chrysler Plymouth Prowler,Classic Cars,1:18,Gearbox Collectibles,Turnable front wheels; steering function; deta...,4724,101.51,163.73
2,S10_1949,1952 Alpine Renault 1300,Classic Cars,1:10,Classic Metal Creations,Turnable front wheels; steering function; deta...,7305,98.58,214.30

8.	La cantidad de productos por línea de producto (no las existencias en inventario)

In [72]:
pd.read_sql("SELECT productLine, COUNT(*) AS '#Units' FROM products GROUP BY productLine", db)

        productLine  #Units
0      Classic Cars      38
1       Motorcycles      13
2            Planes      12
3             Ships       9
4            Trains       3
5  Trucks and Buses      11
6      Vintage Cars      24

9.	La cantidad de empleados por país (tomando en cuenta la ubicación de la oficina).

In [73]:
pd.read_sql("SELECT country, COUNT(employeeNumber) AS employeeCount FROM employees  JOIN offices  USING(officeCode) GROUP BY country", db)

     country  employeeCount
0  Australia              4
1     France              5
2      Japan              2
3         UK              2
4        USA             10

10.	El promedio de los pagos de cada uno de los clientes de España (sin incluir aquellos que no poseen ningún pago).

In [74]:
pd.read_sql("SELECT country, customerNumber, customerName, AVG(amount) AS avgPay FROM payments JOIN customers USING(customerNumber) WHERE country = 'Spain' AND amount > 0 GROUP BY customerNumber", db)

  country  customerNumber                customerName        avgPay
0   Spain             141      Euro+ Shopping Channel  55056.844615
1   Spain             216          Enaco Distributors  22840.156667
2   Spain             344                 CAF Imports  23375.570000
3   Spain             458  Corrida Auto Replicas, Ltd  37480.030000
4   Spain             484  Iberia Gift Imports, Corp.  25493.925000

# **Parte 2**. Manipulación de datos con Pandas

11.	Carga las tablas empleadas en dataframes con el mismo nombre y resuelve las consultas anteriores con las funciones de Pandas (NO con SQL). Cuida no sobreescribir los dataframes originales al resolver las consultas. Debes obtener los mismos resultados que con SQL.

In [ ]:
connection = pymysql.connect(
    host='20.106.217.214',
    user='mnaTC4029User',
    password='mnaTC4029Pass!',
    database='classicmodels',
    port=3306
)

tables = ['customers', 'products', 'productlines', 'orders', 'orderdetails', 'payments', 'employees','offices']
dfs = {}

for table in tables:
    query = f"SELECT * FROM {table}"
    dfs[table] = pd.read_sql(query, connection)

In [76]:
# La información de las líneas de productos.
dfs['productlines']

,productLine,textDescription,htmlDescription,image
0,Classic Cars,Attention car enthusiasts: Make your wildest c...,None,None
1,Motorcycles,Our motorcycles are state of the art replicas ...,None,None
2,Planes,"Unique, diecast airplane and helicopter replic...",None,None
3,Ships,The perfect holiday or anniversary gift for ex...,None,None
4,Trains,Model trains are a rewarding hobby for enthusi...,None,None
5,Trucks and Buses,The Truck and Bus models are realistic replica...,None,None
6,Vintage Cars,Our Vintage Car models realistically portray a...,None,None

In [77]:
#La información de los empleados ordenados por nombre (firstName).
dfs['employees'].sort_values(by='firstName')

,employeeNumber,lastName,firstName,extension,email,officeCode,reportsTo,jobTitle
17,1611,Fixter,Andy,x101,afixter@classicmodelcars.com,6,1088.0,Sales Rep
5,1143,Bow,Anthony,x5428,abow@classicmodelcars.com,1,1056.0,Sales Manager (NA)
16,1504,Jones,Barry,x102,bjones@classicmodelcars.com,7,1102.0,Sales Rep
0,1002,Murphy,Diane,x5800,dmurphy@classicmodelcars.com,1,NaN,President
10,1286,Tseng,Foon Yue,x2248,ftseng@classicmodelcars.com,3,1143.0,Sales Rep
11,1323,Vanauf,George,x4102,gvanauf@classicmodelcars.com,3,1143.0,Sales Rep
13,1370,Hernandez,Gerard,x2028,ghernande@classicmodelcars.com,4,1102.0,Sales Rep
4,1102,Bondur,Gerard,x5408,gbondur@classicmodelcars.com,4,1056.0,Sale Manager (EMEA)
2,1076,Firrelli,Jeff,x9273,jfirrelli@classicmodelcars.com,1,1002.0,VP Marketing
8,1188,Firrelli,Julie,x2173,jfirrelli@classicmodelcars.com,2,1143.0,Sales Rep
15,1501,Bott,Larry,x2311,lbott@classicmodelcars.com,7,1102.0,Sales Rep
6,1165,Jennings,Leslie,x3291,ljennings@classicmodelcars.com,1,1143.0,Sales Rep
7,1166,Thompson,Leslie,x4065,lthompson@classicmodelcars.com,1,1143.0,Sales Rep
12,1337,Bondur,Loui,x6493,lbondur@classicmodelcars.com,4,1102.0,Sales Rep
20,1621,Nishi,Mami,x101,mnishi@classicmodelcars.com,5,1056.0,Sales Rep
22,1702,Gerard,Martin,x2312,mgerard@classicmodelcars.com,4,1102.0,Sales Rep
1,1056,Patterson,Mary,x4611,mpatterso@classicmodelcars.com,1,1002.0,VP Sales
14,1401,Castillo,Pamela,x2759,pcastillo@classicmodelcars.com,4,1102.0,Sales Rep
18,1612,Marsh,Peter,x102,pmarsh@classicmodelcars.com,6,1088.0,Sales Rep
9,1216,Patterson,Steve,x4334,spatterson@classicmodelcars.com,2,1143.0,Sales Rep
19,1619,King,Tom,x103,tking@classicmodelcars.com,6,1088.0,Sales Rep
3,1088,Patterson,William,x4871,wpatterson@classicmodelcars.com,6,1056.0,Sales Manager (APAC)
21,1625,Kato,Yoshimi,x102,ykato@classicmodelcars.com,5,1621.0,Sales Rep

In [78]:
#Los países donde hay oficinas (sin duplicar).
grouped = dfs['offices']['country'].unique()
print(grouped)

['USA' 'France' 'Japan' 'Australia' 'UK']

In [79]:
#El nombre y teléfono de los clientes de la ciudad de Nueva York (NYC).
dfs['customers'][dfs['customers']['city'] == 'NYC'][['customerName', 'phone', 'city']]

             customerName       phone city
9       Land of Toys Inc.  2125557818  NYC
15     Muscle Machine Inc  2125557413  NYC
27        Vitachrome Inc.  2125551500  NYC
98   Classic Legends Inc.  2125558493  NYC
105       Microscale Inc.  2125551957  NYC

In [80]:
#El código y nombre de los productos del vendedor Gearbox Collectibles que tengan menos de 1000 unidades en stock.
dfs['products'][(dfs['products']['productVendor'] == 'Gearbox Collectibles') & (dfs['products']['quantityInStock'] < 1000)][['productCode', 'productName', 'quantityInStock']]

   productCode             productName  quantityInStock
30    S18_2581          P-51-D Mustang              992
32    S18_2795  1928 Mercedes-Benz SSK              548

In [81]:
#Los tres productos más caros, desde el punto de visto de los comercializadores (`buyPrice`).
dfs['products'].sort_values(by='buyPrice', ascending=False).head(3)[['productName', 'productVendor', 'buyPrice']]

                       productName            productVendor  buyPrice
5           1962 LanciaA Delta 16V      Second Gear Diecast    103.42
25  1998 Chrysler Plymouth Prowler     Gearbox Collectibles    101.51
1         1952 Alpine Renault 1300  Classic Metal Creations     98.58

In [82]:
#El número de unidades por línea de producto.
dfs['products'].groupby('productLine')['productCode'].count()

productLine
Classic Cars        38
Motorcycles         13
Planes              12
Ships                9
Trains               3
Trucks and Buses    11
Vintage Cars        24
Name: productCode, dtype: int64

In [83]:
#El número de empleados por país.
dfs['employees'].merge(dfs['offices'], on='officeCode').groupby('country')['employeeNumber'].count()

country
Australia     4
France        5
Japan         2
UK            2
USA          10
Name: employeeNumber, dtype: int64

In [84]:
#El promedio de pagos por cliente en España.
merged_df = dfs['payments'].merge(dfs['customers'], on='customerNumber')
filtered_df = merged_df[(merged_df['country'] == 'Spain') & (merged_df['amount'] > 0)]
result = filtered_df.groupby(['country', 'customerNumber', 'customerName'])['amount'].mean()

print(result)

country  customerNumber  customerName
Spain    141             Euro+ Shopping Channel        55056.844615
         216             Enaco Distributors            22840.156667
         344             CAF Imports                   23375.570000
         458             Corrida Auto Replicas, Ltd    37480.030000
         484             Iberia Gift Imports, Corp.    25493.925000
Name: amount, dtype: float64

# **Parte 3**. Cliente de Python Firestore

En esta fase te conectarás a una base de datos no relacional de Firestore desde Python. Para ello utilizarás los módulos `credentials` y `firestore` de la biblioteca `firebase_admin`.

In [85]:
import firebase_admin
from firebase_admin import credentials
from firebase_admin import firestore

El archivo `veterinary.json` almacena la clave privada para autenticar una cuenta y autorizar el acceso a los servicios de Firebase. A través de la función `Certificate()`, se regresa una credencial inicializada, que puedes utilizar para crear una nueva instancia de la aplicación. Después de eso, tu conexión a Firestore utilizará las reglas de seguridad establecidas para la base de datos y el usuario autenticado.

In [86]:
cred = credentials.Certificate('veterinary.json')
firebase_admin.initialize_app(cred)
db = firestore.client()

12.	Investiga cómo leer la colección `PET_OWNER` y mostrar su contenido en un dataframe. Asegúrate de incluir el id en el resultado

In [87]:
pet = db.collection('PET_OWNER')
docs = pet.stream()

data = []
for doc in docs:
    doc_dict = doc.to_dict()
    doc_dict['id'] = doc.id
    data.append(doc_dict)


df = pd.DataFrame(data)

df.set_index('id', inplace=True)
df

,email,phone,ownerFirstName,ownerLastName
id,,,,
0D6yFSs2eu4nYwf2dnQ0,None,555-454-3465,Sam,Taylor
98357ufgjmWUxjnAuzbz,miles.trent@somewhere.com,None,Miles,Trent
AFtZincSZxjC4Mcxf9Pf,liz.frier@somewhere.com,555-537-6543,Liz,Frier
GYDixDwHjMyihjL8TmsM,None,555-454-1243,Jenny,Mayberry
IpxTuB6FILhwQFcspLws,'marcha.downs@somewhere.com,555-537-8765,Marsha,Downs
QoXBfS1JdRp6BqgLzaAz,None,555-454-2354,Ken,Roberts
eUtZ44lPRbSHXX04EDp7,nigel.melnik@somewhere.com,555-232-5678,Nigel,Melnik
n2GG9rlfGOmE0P4TcU0T,richard.james@somewhere.com,555-537-7654,Richard,James
pDlJlul8EJXO8FBJvFkN,jim.rogers@somewhere.com,555-232-3456,Jim,Rogers
tAlJ74xQ7tT4TUHwZgmH,mary.keenan@somewhere.com,555-232-4567,Mary,Keenan

In [88]:
firebase_admin.delete_app(firebase_admin.get_app())